@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --backgroundaplain: #F1F1F1;
    --backgroundnava-300: #1C181D;
    --backgroundnavg-200: #322F33;
    --backgroundnavg-100: #616161;
    --backgroundnavg-50: #656266;
    --hover: #F7F7F7;
    --pressed: #F0F0F0;
    --focused: #005BD3;
    --borderdark: #FFFFFF/20%;
    --bordermed: #000000/7%;
    --borderlight: #EBEBEB;
    --darkfont: #475467;
    --medfont: #616161;
    --lightfont: #E3E3E3;
}
body{
    background-color: var(--backgroundaplain);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
@keyframes zoomInSpin{
    from{
        transform: scale(0) rotate(270deg);
        opacity: 0;
    }
    to{
        transform: scale(1) rotate(360deg);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
      display: none;
    }
    to {
      opacity: 1;
      display: block;
    }
  }
@keyframes fadeOut {
    from {
      opacity: 1;
      display: block;
    }
    to {
      opacity: 0;
      display: none;
    }
  }
button{
    font-size: 12px;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
}
header{
    height: 3.5rem;
}
.headerNav{
    height: 100%;
    background-color: var(--backgroundnava-300);
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
}
.searchDiv{
    height: 2rem;
    width: 30rem;
    position: relative;
}
#searchSvg{
    position: absolute;
    top: 0.4rem;
    left: 0.3rem;
    color: var(--backgroundnavg-100) !important;
}
.searchDiv #searchInp{
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
    padding-left: 2.13rem;
    background-color: var(--backgroundnavg-200);
    font-weight: 500;
    color: var(--backgroundnavg-100);
    border: 1px solid var(--backgroundnavg-100);
    transition: all 300ms ease-in;
}
.searchDiv #searchInp:hover{
    border: 1px solid var(--borderlight);
}
.searchDiv #searchInp:active{
    border: 2px solid var(--White, #FFF);
    background: var(--backgroundnavg-200);
}
.searchDiv #searchInp:focus{
    border: 2px solid #fff;
    outline: none;
}
.userCollection{
    position: relative;
    width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
}
.userCollection:hover{
    cursor: pointer;
}
.notificationAlert{
    position: absolute;
    right: 0;
    padding: 1.3rem 1rem;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.05);
    display: none;
}
.headerNotAlertDiv{
    display: flex;
    justify-content: space-between;
}
.notAlertP{
    padding: 1rem;
    background-color: var(--hover);
}
.userCollectionChild{
    height: 2rem;
    width: max-content;
    background-color: var(--backgroundnavg-200);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.1rem 0.1rem 0.1rem 0.5rem;
    border-radius: 8px;

    transition: all 300ms ease-in;
}
.userCollectionChild:active{
    background-color: var(--backgroundnavg-50);
}
.userCollectionChild:focus-visible{
    border: 2px solid #005BD3;
    box-shadow: 0px 0px 0px 3px #005BD3, 0px 0px 0px 1px #000;
    background-color: var(--backgroundnavg-50);
}
.userCollectionChild:hover{
    background-color: var(--medfont);
}
.notificationSvg{
    height: 2rem;
    width: 2rem;
    background-color: var(--backgroundnavg-200);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    transition: all 300ms ease-in;
}
.notificationSvg:hover{
    background-color: var(--backgroundnavg-50);
}
.notificationSvg:active, .userCollectionChild:active{
    background-color: var(--backgroundnavg-50);
}
.notificationSvg:focus, .userCollectionChild:focus{
    background-color: var(--backgroundnavg-50);
    outline: 2px solid var(--focused);
    outline-offset: 1px;
}
.userCollectionChild p{
    color: var(--lightfont);
}
.userCollectionChild button{
    height: 100%;
    color: var(--lightfont);
    background-color: #000/40%;
    background-color: #36FBA1;
    padding: 9px 5px 10px 5px;
    border-radius: 6px;
}
/* user dropdown menu */
.userCollectionDropdown{
    width: 25%;
    position: absolute;
    right: 0;
    margin-right: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.05);
    display: none;
}
.userCollectionDropdown a{
    text-decoration: none;
    color: var(--darkfont);
}
.userCollectionheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding-inline: 0.5rem;
    background-color: var(--hover);
}
.userCollectionDropdownDiv{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.userCollectionDropdownDiv button{
    color: var(--lightfont);
    background-color: #36FBA1;
    padding: 9px 5px 10px 5px;
    border-radius: 6px;
    border: none;
}
.allStoresDiv a{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem;
    color: var(--darkfont);
    text-decoration: none;
}
.allStoresDiv:hover{
    background-color: var(--hover);
}
.allStoresP, .allStoresFooter{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0.5rem 1rem;
}
.allStoresP p, .allStoresFooter div, .allStoresFooter p{
    padding: 0.5rem;
}
.allStoresP p:hover, .allStoresFooter div:hover, .allStoresFooter p:hover{
    background-color: var(--hover);
    border-radius: 8px;
}
.allStoresP p:active, .allStoresFooter div:active, .allStoresFooter p:active{
    background-color: var(--pressed);
    padding: 0.5rem 0.1rem;
    border-radius: 0;
}
.allStoresP p:focus, .allStoresFooter div:focus, .allStoresFooter p:focus{
    background-color: #fff;
    border: 2px solid #005BD3;
}
.allStoresP p a, .allStoresFooter a{
    text-decoration: none;
    color: var(--darkfont);
}
/* main */
main{
    width: 50rem;
    max-width: 50rem;
    margin-inline: auto;
}
/* main nav */
.mainNav{
    width: 100%;
    height: max-content;
    background-color: var(--backgroundnava-300);
    font-size: 13px;
    padding: 12px 8px 12px 16px;
    border-radius: 8px;
    color: var(var(--lightfont));
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem 1rem;
    transition: opacity 200ms ease-out;
}
.mainNav.hidden {
    opacity: 0;
    pointer-events: none;
  }
.mainNav p{
    color: var(--lightfont);
}
.buttonDiv{
    width: max-content;    
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.buttonDiv button{
    padding: 0.38rem 0.75rem;
    color: var(--darkfont);
    border: none;
    border-radius: 6px;
    background-color: var(--White, #fff);
    box-shadow: 0px -1px 0px 0px #B5B5B5 inset;
    font-size: 12px;
    transition: all 300ms ease-in;
}
#selectPlanBtn:hover{
    background: #F7F7F7;
}
#selectPlanBtn:active{
    background: #F7F7F7;
    box-shadow: 0px 2px 1.5px 0px #E2E2E2 inset;
}
#selectPlanBtn:focus{
    background: var(--White, #FFF);
    outline: 2px solid var(--focused);
    outline-offset: 1px;
    box-shadow: 0px 0px 5px 0px rgba(0, 91, 211, 0.2), 0px 0px 3px 0px rgba(255, 255, 255, 0.4), 0px 0px 1.5px 0px rgba(51, 51, 51, 0.3);
}
.exit{
    color: var(--lightfont);
}
/* setUpGuideSec */
.setUpGuideSec{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 8px;
}
.setUpGuideSec h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--darkfont);
}
#dropUp, #dropDowm{
    padding: 4px;
    border-radius: 6px;
    transition: 200ms ease-in;
}
.dropDowmLists{
    animation: fadeIn 0.5s ease; 
}
#dropUp:hover, #dropDowm:hover, #dropUp:focus, #dropDowm:focus{
    background-color: var(--pressed);
    outline: none;
}
.progDiv{
    font-size: 12px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-block: 1rem;
}
#progress {
    background-color: #E3E3E3; 
    border: none;
    border-radius: 18px;
    outline: none;
    height: 4px;
    width: 4.5rem;
}
#progress::-webkit-progress-value {
    background-color: #1A1A1A; 
    border-radius: 18px;
}
/* check list divs */
.dropDowmLists{
    display: none;
}
.parentItem{
    padding: 0.5rem;
    border-radius: 8px;
}
.parentItem:focus{
    background-color: #F3F3F3;
    border: none;
    outline: none;
    .itemInfo1{
        display: block;
    }
}
.parentItem:active{
    background-color: #F3F3F3;
}
.checkList{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.checkList:hover{
    cursor: pointer;
}
.parentSvgs{
    height: max-content;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 8px;
}
.parentSvgs:focus{
    outline: none;
    stroke-dasharray: 0;
}
.parentSvgs:hover .clickableSvg circle, .parentSvgs:focus .clickableSvg circle{
    stroke-dasharray: 0;
    transition: stroke-dasharray 0.3s ease-in-out;
}
.borderTickSvg, .tickSvg{
    /* position: absolute; */
    display: none;
}
.borderTickSvg{
    animation-duration: 1s;
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.tickSvg{
    animation-name: zoomInSpin;
    animation-duration: 0.3s;
    animation-timing-function: linear;
}
.infoCheckList{
    padding: 0.5rem 0.5rem 0.75rem 0.5rem;
    display: none;
}
.infoCheckList.fadeIn {
    animation: fadeIn 700ms ease; /* Adjust the duration and timing function as needed */
  }
.descriptionImgDiv{
    margin-top: -4rem;
    margin-right: -1rem;
    width: 9.76rem;
    height: 7.5rem;
    float: right;
}
.descriptionImgDiv img{
    width: 100%;
}
.infoCheckList p{
    width: 70%;
    padding-left: 1.5rem;
}
.infoCheckList p a{
    text-decoration: none;
    color: var(--focused);
}
.infoCheckList button{
    padding: 6px 12px;
    border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.20));
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
    border-radius: 6px;
    outline: none;
    margin-top: 1rem;
    background-color: #404040;
    color: var(--lightfont);
    margin-left: 1.5rem;
    transition: all 200ms ease-in;
}
.infoCheckList button:hover{
    background: #2A2A2A;
    outline: 2px solid var(--backgroundnava-300);
    outline-offset: 2px;
}
.infoCheckList button:active{
    background: #2A2A2A;
    outline: 2px solid var(--backgroundnavg-100);
    outline-offset: 2px;
    box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}
.infoCheckList button:focus{
    border: 1.5px 1.5px 0 1.5px solid var(--lightfont, rgba(255, 255, 255, 0.20));;
    outline: 2px solid var(--focused);
    outline-offset: 2px;
    box-shadow: 0px 0px 5px 0px rgba(0, 91, 211, 0.5), 0px 0px 3px 0px rgba(255, 255, 255, 0.7), 0px 0px 1.5px 0px rgba(51, 51, 51, 0.3);

}
#importBtn{
    background-color: inherit;
    color: var(--darkfont);
    box-shadow: none;
    border: none;
}
#importBtn{
    background-color: inherit;
    padding: 6px 12px;
    border-radius: 6px;
}
#importBtn:hover{
    background: #E7E7E7;
}
#importBtn:active{
    background: #E0E0E0;
}
#importBtn:focus{
    background: #FFF;
    border: 2px solid #fff;
}
/* nav resonsiveness */
@media screen and (max-width: 430px){
    .searchDiv{
        width: 40%;
        position: relative;
    }
    .userCollectionChild{
        background-color: inherit;
        padding-left: 0;
    }
    .userCollectionChild p{
        display: none;
    }
    .notificationSvg{
        background-color: inherit;
    }
    .notificationAlert{
        padding: 0.8rem 0.9rem;
        text-align: center;
        z-index: 1;
    }
    .searchDiv #searchInp{
        margin-left: -2rem;
        width: 55vw;
    }
    #searchSvg{
        left: -1.6rem;
    }

    main{
        width: 100%;
    }
    .mainNav{
        width: 100%;
        border-radius: 0;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
        padding-right: 1rem;
    }
    .buttonDiv{
        position: relative;
    }
    .buttonDiv .exit{
       position: absolute;
       right: -16rem;
       top: -2rem;
    }
    .userCollectionDropdown{
        width: 65%;
    }
}
